:root{
  --color-periwinkle-gray: #c5cbe8;
  --color-lightning-yellow: #fabe2b;
  --color-radical-red: #f43768;
  --color-turquoise: #45e1a3;
  --color-lavender: #c152da;
}



html {
  height: 100%;
  font-size: 1.3vw;
}
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-periwinkle-gray);
  transition: background-color 0.55s;
  will-change: background-color;
  margin: 0;
}
.menu {
  display: flex;
  min-width: 500px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.menu__item {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 12.5rem;
  transition: background 0.55s;
  box-shadow: 0 5px rgba(0,0,0, 0.3);
}

.menu__item:first-child {
  background: var(--color-lightning-yellow);
}
.menu__item:nth-child(2){
  background: var(--color-radical-red);
}
.menu__item:nth-child(3){
  background: var(--color-turquoise);
}
.menu__item:nth-child(4){
  background: var(--color-lavender);
}

.menu__item--active.menu__item--yellow { background: var(--color-lightning-yellow); }
.menu__item--active.menu__item--red { background: var(--color-radical-red); }
.menu__item--active.menu__item--green { background: var(--color-turquoise); }
.menu__item--active.menu__item--purple { background: var(--color-lavender); }
